$shadow: 0 0.8px 1.2px -10px rgba(0, 0, 0, 0.02),
  0 2px 2.9px -10px rgba(0, 0, 0, 0.028),
  0 3.8px 5.4px -10px rgba(0, 0, 0, 0.035),
  0 6.7px 9.6px -10px rgba(0, 0, 0, 0.042),
  0 12.5px 18px -10px rgba(0, 0, 0, 0.05), 0 30px 43px -10px rgba(0, 0, 0, 0.07);

$shadow--small: 0 0.3px 0.6px rgba(0, 0, 0, 0.093),
  0 0.9px 2px rgba(0, 0, 0, 0.137), 0 4px 9px rgba(0, 0, 0, 0.23);

$border-radius: 8px;

$speed: 500ms;

$gray: #424242;
$gray--light: #6d6d6d;
$success: green;
$error: red;

$bg: #edf2f7;
